<nav class="navbar navbar-default navbar-static-top" style="background-color: rgb(63, 81, 181)">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menu-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Deploy tool</a>
        </div>

        <div class="collapse navbar-collapse" id="menu-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{ home ? 'active' : '' }}">
                    <a href="#" data-toggle="collapse" data-target="#menu-navbar-collapse" on-click="navChange('home')">
                        <i class="fa fa-cog fa-home"></i>&nbsp; Home <span
                            class="sr-only">(current)</span></a></li>
                <li class="{{ add ? 'active' : '' }}">
                    <a href="#" data-toggle="collapse" data-target="#menu-navbar-collapse" on-click="navChange('add')">
                        <i class="fa fa-cog fa-plus"></i>&nbsp; Add</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--li><a href="#" on-click="close"><i class="fa fa-cog fa-close"></i>&nbsp; Close</a></li-->
            </ul>
        </div>
    </div>
</nav>