#server-actions .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#server-actions .button-edit {
  background-color: #4caf50;
  color: hsla(0, 0%, 100%, .84);
}

#server-actions .button-container {
  margin-left: .5em;
}
