@import "../node_modules/font-awesome/css/font-awesome.css";

body{
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color: #f0f2f5!important;
}

.layout {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}



/***************************/
.button-ultradanger{
  background-color: #f44336;
  color: hsla(0,0%,100%,.84);
}

/***************************/

div.message {
  position: relative;
  padding: 5px;
  padding-left: 35px;
  margin: 30px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  background: #BBB;
  color: #FFF;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

div.message:hover {
  box-shadow: 0 15px 20px rgba(10, 0, 10, .3);
  -webkit-filter: brightness(110%);
}

div.message:before {
  content: '';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  top: -21px;
  left: 50%;
  margin: 0 -21px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  padding: 10px;
  background: inherit;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  color: rgba(255, 255, 255, .75);
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: 2;
  box-sizing: content-box;
}

div.message.information:before {
  content: '\f129';
}

div.message.announcement:before {
  content: '\f0f3';
}

div.message.success:before {
  content: '\f00c';
}

div.message.warning:before {
  content: '\f12a';
}

div.message.error:before {
  content: '\f00d';
}

div.message.information {
  background: #39B;
}

div.message.warning {
  background: #E74;
}

div.message.success {
  background: #5A6;
}

div.message.announcement {
  background: #EA0;
}

div.message.error {
  background: #C43;
}

div.tooltip-inner {
  max-width: 500px;
}

/*************************************************/
.snackbar.snackbar-opened {
  padding: 14px 15px;
  margin-bottom: 20px;
  height: auto;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, height 0 linear 0.2s;
  -moz-transform: none;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.snackbar {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 0;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0 linear 0.2s, padding 0 linear 0.2s, height 0 linear 0.2s;
  -moz-transform: translateY(200%);
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  border-radius: 200px;
  overflow: hidden;
  clear: both;
  min-width: 288px;
  max-width: 568px;
  cursor: pointer;
  opacity: 0;
}

#snackbar-container {
  position: fixed;
  left: 20px;
  bottom: 0;
  z-index: 99999;
}
