@import "../node_modules/font-awesome/css/font-awesome.css";

body{
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color: #f0f2f5!important;
}

.layout {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

.layout .main-layout-content {
  padding: 0 50px;
}

.layout .main-bread-crumb {
  margin: 1em 0;
}

@media all and (max-width: 768px) {

  .layout .main-layout-content {
    padding: 0;
  }

  .layout .main-layout-header .label-item-menu {
    display: none;
  }

  .layout .main-bread-crumb {
    margin: 1em 1em;
  }

  .layout #deploy-actions .main-number-of-items {
    margin-top: 1em;
  }
}

/********************************/

.center-wrap {
  width: 1300px;
  margin: auto;
  clear: both;
  text-align: center;
}

.title-container {
  background-color: #2f2f42;
  display: inline-block;
  font-family: "Quicksand", serif;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-size: 42px;
  height: 60px;
  line-height: 60px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.title {
  min-width: 150px;
  max-width: 750px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-left: -75px;
  margin-right: -75px;
  -webkit-animation: title-width .8s ease;
  -moz-animation: title-width .8s ease;
  -o-animation: title-width .8s ease;
  animation: title-width .8s ease;

}

.title a {
  color: white;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.title a:hover {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}

@-webkit-keyframes title-width {
  0% {
    margin-left: 100px;
    margin-right: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
}

@-moz-keyframes title-width {
  0% {
    margin-left: 100px;
    margin-right: 100px;
    -moz-opacity: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
  50% {
    -moz-opacity: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
}

@-o-keyframes title-width {
  0% {
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
  50% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
}

@keyframes title-width {
  0% {
    margin-left: 100px;
    margin-right: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.0);
  }
}

.backflag-left, .backflag-right {
  background: #232332;
  width: 91px;
  height: 56px;
  position: relative;
  margin: 0;
  background-color: #f0f2f5!important;
}

.layout {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

.ant-layout-footer {
  margin-top: 10px;
  border-top: 1px solid #BBB;
}


/***************************/
.button-ultradanger{
  background-color: #f44336;
  color: hsla(0,0%,100%,.84);
}

/***************************/

div.message {
  position: relative;
  padding: 5px;
  padding-left: 35px;
  margin: 30px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  background: #BBB;
  color: #FFF;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

div.message:hover {
  box-shadow: 0 15px 20px rgba(10, 0, 10, .3);
  -webkit-filter: brightness(110%);
}

div.message:before {
  content: '';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  top: -21px;
  left: 50%;
  margin: 0 -21px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  padding: 10px;
  background: inherit;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  color: rgba(255, 255, 255, .75);
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: 2;
  box-sizing: content-box;
}

div.message.information:before {
  content: '\f129';
}

div.message.announcement:before {
  content: '\f0f3';
}

div.message.success:before {
  content: '\f00c';
}

div.message.warning:before {
  content: '\f12a';
}

div.message.error:before {
  content: '\f00d';
}

div.message.information {
  background: #39B;
}

div.message.warning {
  background: #E74;
}

div.message.success {
  background: #5A6;
}

div.message.announcement {
  background: #EA0;
}

div.message.error {
  background: #C43;
}

div.tooltip-inner {
  max-width: 500px;
}
